asgiref==3.2.10
awscli==1.18.93
botocore==1.17.16
certifi==2020.6.20
chromedriver==2.24.1
colorama==0.4.3
coverage==5.3
dj-database-url==0.5.0
Django==3.1.1
django-bower==5.2.0
django-cors-headers==3.5.0
django-filter==2.4.0
django-mysql==3.8.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.1
dnspython==1.16.0
docutils==0.15.2
flake8==3.8.3
futures==3.1.1
gunicorn==20.0.4
icalendar==4.0.7
importlib-metadata==2.0.0
isort==5.5.3
jmespath==0.10.0
Markdown==3.3.2
mccabe==0.6.1
mysqlclient==2.0.1
numpy==1.15.1
Pillow==7.2.0
pyasn1==0.4.8
pycodestyle==2.6.0
pyflakes==2.2.0
Pypubsub==4.0.0
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
PyYAML==5.3.1
rsa==3.4.2
s3transfer==0.3.3
six==1.11.0
sqlparse==0.3.1
typing==3.6.4
Unipath==1.1
urllib3==1.25.9
whitenoise==5.2.0
wxPython==4.0.3
zipp==3.2.0
